// Colors
$primary: #8c7122; // #8c7122 gold does not have enough contrast on white for WCAG AAA normal text, but is WCAG AAA for large text
$secondary: #757575; // #8081881 original grey not AAA for large text, so #757575 grey darker used instead
$tertiary: #54565b; // dark grey used in menu text
$black: #000000;
$white: #ffffff;
$white-offset: #edede9;
$steel: #5c5a5a;

// Links
$link-color: $black;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: "Brandon Grotesque", sans-serif, -apple-system;
$font-family-heading: "Operetta 12", serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: $primary;
$sub-footer-text-color: $white;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-reboot";
// @import "bootstrap/bootstrap"; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/section";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";

// Pages
@import "pages/home";
@import "pages/team/team-summary";
@import "pages/services/page-services-single";

body {
	font-size: 16px;
	line-height: 1.2;
	font-family: $font-family-base;
	@include media-breakpoint-up(md) {
		font-size: 16px;
		line-height: 1.3;
	}
}
