// Colors
$primary: #8c7122; // #8c7122 gold does not have enough contrast on white for WCAG AAA normal text, but is WCAG AAA for large text
$secondary: #757575; // #8081881 original grey not AAA for large text, so #757575 grey darker used instead
$tertiary: #54565b; // dark grey used in menu text
$dark-gold: #b99b2d; // original primary with only enough contrast to decorate non-significant-informational components
$gold: #dabd27; // original highlight gold
$black: #000000;
$white: #ffffff;
$white-offset: #edede9;
$steel: #5c5a5a;

// Links
$link-color: $black;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: "Brandon Grotesque", sans-serif, -apple-system;
$font-family-heading: "Operetta 12", serif, -apple-system;
$font-family-sans-serif: "Brandon Grotesque", sans-serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: $primary;
$sub-footer-text-color: $white;

// Carousel
$carousel-control-color: $primary;
$carousel-caption-color: $black;
$carousel-indicator-active-bg: $primary;
$carousel-minimum-height: 495px;

// Bootstrap
@import "bootstrap/functions";
@import "bootstrap-variables";
@import "bootstrap/mixins";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/carousel";

// @import "bootstrap/bootstrap"; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/section";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";

// Pages
@import "pages/home";
@import "pages/team/team-summary";
@import "pages/services/page-services-single";

body {
	font-size: 16px;
	line-height: 1.2;
	font-family: $font-family-base;
	@include media-breakpoint-up(md) {
		font-size: 16px;
		line-height: 1.3;
	}
}

.visually-hidden {
	display: none;
}

.carousel-quote:before {
	border-left: 3px solid $dark-gold;
	content: "";
	position: absolute;
	width: 100%;
	height: 60%;
	top: 10%;
	right: -34%;
	z-index: -5;
	@include media-breakpoint-down(lg) {
		display: none;
	}
}
.carousel-header:after {
	content: "“";
	font-family: $font-family-heading;
	font-weight: bold;
	font-size: 130px;
	color: $gold;
	position: absolute;
	width: 100%;
	height: 60%;
	top: -150%;
	right: -37%;
	z-index: -5;
}
.carousel-header {
	margin-left: 9%;
	@include media-breakpoint-down(lg) {
		display: none;
	}
}

.carousel-quote,
.carousel-quote-source {
	margin: 0 15% 0 44%;
	@include media-breakpoint-down(lg) {
		margin: 5% 12% 0;
	}
}
.carousel-quote-source {
	margin-bottom: 4%;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9rem;
	@include media-breakpoint-down(lg) {
		margin-top: 0.3rem;
		margin-bottom: 8%;
	}
}

.feature {
	padding: 0;
}
.feature-title {
	text-transform: uppercase;
	font-size: 1rem;
}
.feature-content {
	text-align: left;
	line-height: 1.5;
}

.expert-class {
	background: url("/images/features/AdobeStock_102634177-expert.jpeg");
}
.collaborative-class {
	background: url("/images/features/AdobeStock_372199444-collaborative.jpeg");
}
.personal-class {
	background: url("/images/features/AdobeStock_410984936_personal.jpeg");
}
.detailed-class {
	background: url("/images/features/AdobeStock_164146969-detailed.jpeg");
}
.imaginative-class {
	background: url("/images/features/AdobeStock_6440051-imaginative.jpeg");
}

.great-partnerships-background {
	position: relative;
}

.great-partnerships-background:before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.15;
	background: url("/images/jacob-at-desk.jpg");
	background-size: cover;
}

.height {
	z-index: 5;
}
